:root {
  --font-family: 'Manrope', sans-serif;
  --white: #ffffff;
  --red: #ad1818;
  --black: #000000;
  --grey-dark: rgb(25, 24, 24);
  --grey: #989494;
}

body {
  font-family: var(--font-family);
}

.container {
  background-color: var(--white);
  width: 1150px;
  margin: 0 auto;
  padding: 0 120px;
}

.wrapper {
  background-color: var(--black);
  padding: 1px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 0;
  text-align: right;
  margin: 3px;
}

nav a {
  position: relative;
  margin: 0 60px;
  margin-right: 0;
  font-size: 18px;
  text-decoration: none;
  color: var(--black);
  text-transform: uppercase;
}

nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background-color: var(--grey);
  transition: width 0.1s ease;
}

nav a:hover::after {
  width: 100%;
}

nav a:active,
nav a:focus {
  color: var(--grey);
}

nav a:active::after,
nav a:focus::after {
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  color: var(--black);
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -3%;
  text-align: left;
  padding: 33px 0;
  margin: 3px;
}

h2 {
  color: var(--black);
  font-size: 45px;
  font-weight: 400;
  line-height: 61px;
  margin: 3px;
}

img {
  width: 100%;
  max-width: 1150px;
  height: auto;
  margin: 10px 0;
}

p {
  max-width: 1048px;
  color: var(--black);
  margin-bottom: 20px;
  font-size: 18px;
  text-transform: uppercase;
  margin: 3px;
  padding: 10px 0;
}

.main-image {
  position: relative;
  width: 100%;
  max-width: 1150px;
}

.main-image img {
  width: 100%;
  height: auto;
}

figcaption {
  position: absolute;
  width: 470px;
  left: 5%;
  bottom: 10%;
  color: var(--white);
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  padding: 10px;
}

.about {
  position: relative;
  max-width: 1048px;
  text-align: left;
  margin-top: 20px;
  padding-bottom: 40px;
}

.tag {
  color: var(--black);
  font-size: 40px;
  font-weight: 400px;
  line-height: 50px;
  display: block;
  padding-bottom: 30px;
  margin: 3px;
}

.btn {
  display: inline-block;
  align-self: flex-start;
  padding: 10px 20px;
  color: var(--white);
  background-color: var(--red);
  text-decoration: none;
  border: 2px solid var(--red);
  transition: 0.3s;
  padding: 20px 40px;
  margin-top: 20px;
  margin: 3px;
  border-radius: 5px;
}

.btn:hover {
  background-color: transparent;
  color: var(--red);
}

.projects {
  position: relative;
  text-align: left;
  margin-top: 20px;
  padding-bottom: 10px;
}

.project {
  margin-bottom: 90px;
}

.address {
  color: var(--black);
  font-size: 30px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: -3%;
  text-align: left;
}

.detailed {
  color: var(--red);
  margin-top: 15px;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -3%;
  text-align: left;
  cursor: pointer;
}

h3 {
  color: var(--red);
  border: solid 2px var(--red);
  background-color: var(--white);
  font-size: 30px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: -3%;
  text-align: center;
  padding: 56px 0;
  margin-bottom: 150px;
  border-radius: 5px;
  cursor: pointer;
}

h3:hover {
  background-color: var(--red);
  color: var(--white);
}

.container2 {
  background-color: var(--grey-dark);
  width: 1150px;
  margin: 0 auto;
  padding: 120px 120px;
}

.services p {
  color: var(--white);
}

h4 {
  color: var(--white);
  font-size: 30px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: -3%;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 60px;
}

.container3 {
  width: 1400px;
  margin: 0 auto;
}

.bedroom {
  position: relative;
}

.bedroom img {
  width: 1400;
  height: auto;
  max-width: 1390px;
  display: block;
  margin: 0 auto;
}

.bedroom figcaption {
  font-size: 30px;
  font-weight: 300;
  line-height: 41px;
  letter-spacing: -3%;
  text-align: left;
  color: var(--white);
}

.contacts {
  padding: 80px;
  background-color:var(--white);
  margin: 0 5px;
}

.contacts img {
  width: 20px;
}

.contacts-text h5 {
  font-size: 40px;
  font-weight: 300;
  padding: 10px 0;
  line-height: 60px;
  letter-spacing: -3%;
  color: var(--black);
}

.contacts-text span {
  font-size: 40px;
  font-weight: 400;
  color: var(--grey);
  padding: 10px 0;
  line-height: 60px;
  letter-spacing: -3%;
}

footer {
  background-color: var(--grey-dark);
  padding: 50px;
  text-align: center;
  margin: 0 5px;
}

footer nav a {
  position: relative;
  margin: 0 40px;
  font-size: 18px;
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
}

footer nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background-color: var(--grey);
  transition: width 0.1s ease;
}

footer nav a:hover::after {
  width: 100%;
}

footer nav a:focus {
  color: var(--grey);
}

footer nav a:active::after,
footer nav a:focus::after {
  width: 100%;
}

footer p {
  color: var(--grey);
  padding: 0 300px ;
  text-align: center;
  margin-top: 100px;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -3%;
}
